{% extends "base.html" %}
{% block title %}Ошибка сервера - YaCut{% endblock %}
{% block content %}
<h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
<p class="text-center my-4">
  Ошибка сервера
</p>

<div class="container">
  <div class="row my-3">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="text-center">
        <h1 class="display-1 text-muted">500</h1>
        <h2 class="mb-4">Ошибка сервера</h2>
        <p class="lead mb-4">Произошла внутренняя ошибка сервера. Мы уже работаем над её устранением.</p>
        <a href="{{ url_for('main.index') }}" class="btn btn-primary">Вернуться на главную</a>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
{% endblock %}